---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/section/Hero.astro";
import KataSambutan from "../components/section/KataSambutan.astro";
import Berita from "../components/section/Berita.astro";
import Informasi from "../components/section/Informasi.astro";
import Pengumuman from "../components/section/Pengumuman.astro";
import Guru from "../components/section/Guru.astro";
import Fasilitas from "../components/section/Fasilitas.astro";
import Extrakurikuler from "../components/section/Extrakurikuler.astro";
---
<MainLayout>
	<main>
		<Hero />
		<KataSambutan />
		<Fasilitas />
		<Extrakurikuler />
		<section class="py-20 bg-blue-900">
			<div class="container">
				<div class="grid md:grid-cols-2 gap-8">
					<Informasi />
					<Pengumuman />
				</div>
			</div>
		</section>
		<Berita />
		<section class="py-20 bg-blue-900 text-gray-200">
			<div class="container">
				<div class="text-center space-y-8">
					<h2 class="text-4xl font-bold">Motto Kami</h2>
					<div class="relative">
						<blockquote class="relative text-center text-xl">
							Ilmu pengetahuan adalah peta yang memandu kita melewati kebimbangan dan ketidakpastian.<br/> <city class="font-semibold text-yellow-300 text-md">Neil deGrasse Tyson</city>
						</blockquote>
					</div>
				</div>
			</div>
		</section>
		<Guru />
	</main>
</MainLayout>

