---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const fasilitas = await getCollection('fasilitas');
---
<section class="py-20 bg-gray-100 text-gray-900">
	<div class="container space-y-8">
		<div>
			<h2 class="text-3xl font-semibold text-blue-900">Fasilitas Sekolah</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
		</div>
		<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
		{fasilitas.map(f =>
			<article class="bg-white p-2 rounded-xl space-y-6">
				<Image class="aspect-video object-cover rounded-lg" src={f.data.image.src} alt={f.data.image.alt} />
				<div class="space-y-3">
					<h3 class="text-xl font-semibold">{f.data.title}</h3>
					<p>{f.data.description}</p>
				</div>
			</article>
		)}
		</div>
	</div>
</section>
