---
import { getImage } from "astro:assets";

import heroUrl from "../../media/hero-image-1.jpg"
const bgImage = await getImage({src: heroUrl, format: 'avif'});
---
<section 
	class="h-screen flex items-center bg-center bg-no-repeat bg-cover relative before:absolute before:contet-[''] before:size-full before:bg-[#113E59]/20"  
	style={`background-image: url(${bgImage.src});`}>
	<div class="container">
		<div class="max-w-2xl mx-auto text-center relative z-10 text-white">
			<h1 class="text-4xl font-bold">SELAMAT DATANG WEBSITE RESMI</h1>
			<h2 class="text-xl font-semibold">sekolah kami</h2>
		</div>
	</div>
</section>
