---
import { getCollection } from "astro:content"

const info = await getCollection('informasi');
---
<div class="space-y-4">
	<div>
		<h2 class="text-3xl font-semibold">Informasi Sekolah</h2>
	</div>
	<div class="space-y-2">
	{info.map((i, index )=>
		<article class="flex gap-2">
			<div class="size-20 text-right">
				<span class="text-6xl font-fold">{(index + 1).toString().padStart(2, '0')}</span>
			</div>
			<div>
				<a href="/"><h3>{i.data.title}</h3></a>
				<time datetime={i.data.pubDate}>{i.data.pubDate.toLocaleDateString('id',{
					year: "numeric",
					month: "short",
					day: "numeric",})}
				</time>
			</div>
		</article>
	)}
	</div>
</div>
