---
---
<section class="py-24">
	<div class="container flex gap-8">
		<div class="basis-1/4"></div>
		<div class="basis-3/4">
			<h2>Sambutan Kepala Sekolah</h2>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, saepe, nostrum, placeat laborum optio accusantium ea unde odio veritatis suscipit asperiores expedita dolorum delectus provident laudantium nulla quasi temporibus veniam architecto est dolore molestias possimus sequi? Laborum, rem, molestiae saepe culpa veniam veritatis mollitia perspiciatis. Sint, fuga quaerat harum molestiae!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, maiores, sunt, sequi quisquam quae consequuntur dolor molestiae culpa fuga inventore nisi commodi quia distinctio? Vero, reprehenderit, minus, deleniti, minima beatae fugiat blanditiis amet molestias optio perspiciatis laborum nostrum soluta quod.</p>
			</div>
		</div>
	</div>
</section>
